<!DOCTYPE html>
<html lang="en" >
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script th:src="@{/webjars/jquery/jquery.js}"></script>
</head>
<body>
<div class="container-fluid text-center">
    <div><h2>[[${pageTitle}]]</h2></div>
    <form class="row g-3" method="post" th:action="@{/product/save}" th:object="${product}"
    style="max-width: 500px; margin: 0 auto;">
        <input type="hidden" th:field="*{id}">
        <div class="border border-secondary rounded p-3 bg-light">
            <div class="col-md-12 mb-2 form-floating">
                <input type="text" class="form-control" id="floatingInputName" th:field="*{name}" required>
                <label for="floatingInputName">Product Name</label>
            </div>
            <div class="col-md-12 mb-2 form-floating">
                <textarea class="form-control" placeholder="Leave a comment here"
                          id="floatingTextareaSD" th:field="*{sdesc}" required>
                </textarea>
                <label for="floatingTextareaSD">Short Description</label>
            </div>
            <div class="col-md-12 mb-2 form-floating">
                <textarea class="form-control" placeholder="Leave a comment here"
                          id="floatingTextareaDetail" th:field="*{detail}" style="height: 100px" required>
                </textarea>
                <label for="floatingTextareaDetail">Product Details</label>
            </div>
            <div class="form-check form-switch col-md-4">
                <input class="form-check-input" type="checkbox" id="flexSwitch" name="checkbox_status"
                       th:field="*{status}">
                <label class="form-check-label checkboxLabel" for="flexSwitch" th:if="*{status==true}">Activate</label>
                <label class="form-check-label checkboxLabel" for="flexSwitch" th:if="*{status==false}">Deactivate</label>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary m-2">[[${buttonName}]]</button>
            <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
        </div>
    </form>
</div>
</body>
</html>
<script>
    $("#flexSwitch").change(function() {
        if(this.checked) {
           $('.checkboxLabel').html("Activate");
        }else{
            $('.checkboxLabel').html("Deactivate");
        }
    });
    function cancelForm(){
        window.location = "[[@{/products}]]"
    }
</script>