<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
<!--    <link rel="stylesheet" type="text/css" th:href="@{/richtext/richtext.min.css}">-->
<!--    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--    <script th:src="@{custom.js}"></script>-->
    <script th:src="@{/webjars/jquery/jquery.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.js}"></script>
    <script th:src="@{/ckeditor/ckeditor.js}"></script>
</head>
<body>
<div class="container-fluid text-center">
    <div><h2>[[${pageTitle}]]</h2></div>
    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>
    <form class="row g-3" method="post" th:action="@{/product/save}"
    style="max-width: 500px; margin: 0 auto;" enctype="multipart/form-data">
        <div class="border border-secondary rounded p-3 bg-light main-wrapper">
            <div class="col-md-12 mb-2 form-floating">
                <input type="text" class="form-control" id="floatingInputName" th:field="${product.name}" required>
                <label for="floatingInputName">Product Name</label>
            </div>
            <div class="col-md-12 mb-2 form-floating">
                <label class="mb-1" for="floatingTextareaSD">Short Description</label>
                <textarea class="form-control text_area_editor"
                          id="floatingTextareaSD" th:field="${product.sdesc}" placeholder="Short Description..." required>
                </textarea>
            </div>
            <div class="col-md-12 mb-2 form-floating">
                <textarea class="form-control text_area_editor"
                          id="floatingTextareaDetail" th:field="${product.detail}" style="height: 100px" required>
                </textarea>
                <label for="floatingTextareaDetail">Product Details</label>
            </div>
            <label class="col-form-label">Brand</label>
            <div class="col-md-12 mb-2">
                <select class="form-control" th:field="${product.brand}">
                    <th:block th:each="brand: ${brandList}">
                        <option th:text="${brand.name}" th:value="${brand.id}"/>
                    </th:block>
                </select>
            </div>
            <div class="col-md-12 input-group">
                <input type="file" class="form-control" id="productImage" name="fileImage"
                       accept="image/png,image/jpeg">
            </div>
            <div  class="col-md-6 mt-2 mb-2 p-image">
                <img th:if="@{${product.imagePath} != null}"  th:src="@{${product.imagePath}}" class="thumbnail" alt="Image Preview">
                <img th:unless="@{${product.imagePath} != null}" class="thumbnail" alt="Image Preview">
            </div>
            <div class="form-check form-switch col-md-4">
                <input class="form-check-input" type="checkbox" id="flexSwitch" name="checkbox_status"
                       th:field="${product.status}">
                <label class="form-check-label checkboxLabel" for="flexSwitch" th:if="${product.status==true}">Activate</label>
                <label class="form-check-label checkboxLabel" for="flexSwitch" th:if="${product.status==false}">Deactivate</label>
                <label class="form-check-label checkboxLabel" for="flexSwitch" th:if="${product.status==null}">Deactivate</label>
            </div>
        </div>
        <div class="border border-secondary rounded p-3 bg-light" id="product_attr_box">
            <th:block th:if="${product.id == null}" th:with="loop_count = 0">
            <div class="card mb-2" th:id="'product_attr_'+${loop_count+1}">
                <div class="card-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label  class="control-label mb-1"> Size</label>
                                <select  class="form-control productSize" name="attrSize">
                                    <th:block th:each="size: ${sizeList}">
                                        <option th:text="${size.name}" th:value="${size.id}"/>
                                    </th:block>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label  class="control-label mb-1">Quantity</label>
                                <input type="text" class="form-control productQty" name="attrQty" required>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label mb-1">MRP</label>
                                <input type="text" class="form-control productMrp"  name="attrMrp" required>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label mb-1">Price</label>
                                <input type="text" class="form-control productPrice" name="attrPrice" required>
                            </div>
                            <div class="col-md-4 mt-4">
                                <label class="control-label mb-1">Action</label>
                                <button type="button" class="btn btn-success btn-md" onclick="add_more()">
                                    <i class="fa fa-plus">&nbsp;Add</i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </th:block>
            <th:block th:unless="${product.id == null}" th:each="attribute,count: ${product.attribute}" th:with="loop_attr_count = ${count.index}">
                <input type="hidden" name="attributeId" th:value="${attribute.id}">
                <div  class="card mb-2" th:id="'product_attr_'+${loop_attr_count+1}">
                    <div class="card-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="control-label mb-1"> Size</label>
                                    <select class="form-control productSize" name="attrSize">
                                        <th:block th:each="size: ${sizeList}">
                                            <option th:if="${attribute.size.id}==${size.id}" th:text="${size.name}" th:value="${size.id}" selected/>
                                            <option th:unless="${attribute.size.id}==${size.id}" th:text="${size.name}" th:value="${size.id}">
                                        </th:block>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label mb-1">Quantity</label>
                                    <input type="text" class="form-control productQty"  name="attrQty" th:value="${attribute.quantity}" required>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label mb-1">MRP</label>
                                    <input type="text" class="form-control productMrp" name="attrMrp"  th:value="${attribute.mrp}" required>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label productPrice mb-1">Price</label>
                                    <input type="text" class="form-control" name="attrPrice" th:value="${attribute.price}" required>
                                </div>
                                <div th:if="${loop_attr_count} == 0" class="col-md-4 mt-4">
                                    <label class="control-label mb-1">Action</label>
                                    <button type="button" class="btn btn-success btn-md" onclick="add_more()">
                                        <i class="fa fa-plus">&nbsp;Add</i></button>
                                </div>
                                <div th:unless="${loop_attr_count} == 0" class="col-md-4 mt-4">
                                    <label class="control-label mb-1">Action</label>
                                    <button type="button" class="btn btn-danger btn-md" onclick="add_more()">
                                        <i class="fa fa-plus">&nbsp;Remove</i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </th:block>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary m-2">[[${buttonName}]]</button>
            <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
        </div>
        <input type="hidden" th:field="${product.id}">
    </form>
</div>
</body>
</html>
<script>
    $(document).ready(function () {
        CKEDITOR.replace( 'sdesc' );
        CKEDITOR.replace( 'detail' );
    });
    $("#flexSwitch").change(function() {
        if(this.checked) {
           $('.checkboxLabel').html("Activate");
        }else{
            $('.checkboxLabel').html("Deactivate");
        }
    });
    function cancelForm(){
        window.location = "[[@{/products}]]"
    }
    let count = 1;
    function add_more(){
        count++;
        console.log(count);
        let html='<input type="hidden" name="attributeId">' +
        '       <div class="card mb-2" id="product_attr_'+count+'">\n' +
        '                <div class="card-body">\n' +
        '                    <div class="form-group">\n' +
        '                        <div class="row">\n' ;
        let productSize = jQuery('.productSize').html();
        productSize = productSize.replace("selected","");
        html+=                           '<div class="col-md-4">\n'+
        '                                <label class="control-label mb-1"> Size</label>\n'+
        '                                <select class="form-control productSize" name="attrSize">\n' +
                                            productSize +
        '                                </select>\n' +
        '                            </div>\n' +
        '                            <div class="col-md-4">\n' +
        '                                <label class="control-label mb-1">Quantity</label>\n' +
        '                                <input type="text" class="form-control productQty"  name="attrQty" required>\n' +
        '                            </div>\n' +
        '                            <div class="col-md-4">\n' +
        '                                <label class="control-label mb-1">MRP</label>\n' +
        '                                <input type="text" class="form-control productMrp"  name="attrMrp" required>\n' +
        '                            </div>\n' +
        '                            <div class="col-md-4">\n' +
        '                                <label  class="control-label mb-1">Price</label>\n' +
        '                                <input type="text" class="form-control productPrice"  name="attrPrice" required>\n' +
        '                            </div>\n' +
        '                            <div class="col-md-4 mt-4">\n' +
        '                                <label class="control-label mb-1">Action</label>\n' +
        '                                <button type="button" class="btn btn-danger btn-md" onclick=remove_more("'+count+'")>\n' +
        '                                    <i class="fa fa-plus">&nbsp;Remove</i></button>\n' +
        '                            </div>\n' +
        '                        </div>\n' +
        '                    </div>\n' +
        '                </div>\n' +
        '            </div>';
        jQuery('#product_attr_box').append(html);
    }
    function remove_more(loop_count){
        jQuery('#product_attr_'+loop_count).remove();
    }
    $('#productImage').change(function (){
       showThumbnailImage(this);
    });
    function showThumbnailImage(fileInput){
        file = fileInput.files[0];
        reader = new FileReader();
        reader.onload = function (e){
          $('.thumbnail').attr('src',e.target.result);
        };
        reader.readAsDataURL(file);
    }
</script>